ul.DeskPane
{
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: transparent;

	a { color: black; }

	ul { display: none;
	     margin: 0; padding: 0}

	> li { margin: 4px;
	       display: flex;
	       cursor: pointer;
	       border-radius: 5px;
	       align-items: stretch;
	       list-style-type: none;
	       align-content: stretch;
	       justify-content: center;
	       border: 2px solid white;
	       width: calc(100% - 8px);
	       background-image: linear-gradient(to bottom, #FDFAE9, #B3B0A4);


	       @media only screen and (min-width: @phone) { width: calc(100% - 8px); }
	       @media only screen and (min-width: @tablet) { width: calc(50% - 8px); }
	       @media only screen and (min-width: @notebook) { width: calc(50% - 8px); }
	       @media only screen and (min-width: @desktop) { width: calc(25% - 8px); }
	       @media only screen and (min-width: @widescreen) { width: calc(25% - 8px); }

	       &:hover {   border-color: #FFFACD;
			   background-image: linear-gradient(to bottom, #EDE9D9, #BDBAAD); }

	       > a,
	       > button { padding: 8px;
			  height: 100%;
			  flex-grow: 1;
			  display: flex;
			  color: inherit;
			  cursor: inherit;
			  text-align: center;
			  align-items: center;
			  font-weight: inherit;
			  align-content: stretch;
			  justify-content: flex-start;

			  > i { order: -1;
				width: 48px; 
				height: 48px; 
				display: flex;
				color: inherit; 
				font-size: 40px; 
				margin-right: 8px; 
				align-items: center; 
				justify-content: center }

			  > img { width: 48px; height: 48px; order: -1;  margin-right: 8px; }

			  &[data-disabled]{ color: var(--r); cursor: not-allowed; }
	       }
	}



	> li.Reset
	{
		color: var(--g);
		> a { font-size: 20px }
	}
}
