ul.DeskMenu
{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: transparent;

	a { color: black; 
	    background-color: transparent;}

	ul { margin: 0;
	     padding: 0;
	     display: none; }

	> li { order: 1;
	       margin: 4px;
	       width: 120px;
	       display: flex;
	       border-radius: 5px;
	       list-style-type: none;
	       flex-direction: column;
	       background-color: white;
	       border: 1px solid transparent; 

	       &:hover { border: 1px solid var(--hovered); 

			 nav {visibility: visible; } 
	       } 

	       > a,
	       > button { padding: 8px;
			  height: 100px;
			  display: flex;
			  font-size: 12px;
			  text-align: center;
			  align-items: center;
			  flex-direction: column;
			  justify-content: space-between;
			  > i
			  {
				  order: -1;
				  margin: 8px;
				  height: 60px;
				  font-size: 48px;
			  }
	       }

	       a[data-icon]::before,
	       button[data-icon]::before {  padding: 8px;
					    font-size: 28px;
					    font-family: gate;
					    content: attr(data-icon); }

	       nav { margin: 4px;
		     height: 32px; 
		     flex-grow: 1;
		     border-radius: 5px;
		     width: calc(100% - 8px);
		     background-color: var(--g-coolbar-background-color);

		     &:last-child { border-radius: 5px }
	       }


	}




	> li > * { width: 100% }
	> li > *:first-child { border-radius: 5px 0 0 5px }
	> li > *:last-child { border-radius: 0 0 5px 5px }


	> li.Reset 
	{
		order:0;
		> a { border-radius: 5px; 
		      color: #666666 }
	}
}
