g-dialog-commands
{
	height: 24px;
	color: white;
	outline: none;
	display: flex;
	overflow: hidden;
	border-radius: 5px;
	font-size: inherit;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row-reverse;

	&:empty { display: none }

	> a,
	> button
	{
		padding: 0;
		width: 24px;
		font-size: 0;
		height: 24px;
		display: flex;
		color: inherit;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		&:hover { color: var(--hovered); }

		> i { color: inherit;
		      font-size: 16px;
		      &:hover { color: var(--hovered); }
		}
	}
}