g-coolbar,
.g-coolbar
{
	.margin();
	width: 100%;
	height: 48px;
	flex-grow: 1;
	padding: 2px;
	display: flex;
	overflow: hidden;
	border-radius: 5px;
	align-items: stretch;
	color: var(--g-coolbar--color);
	background-color: var(--g-coolbar-background-color);
	background-image: var(--g-coolbar-background-image);

	> progress { width: calc(100% - 4px) }

	> hr { border: none;
	       flex-grow: 1; }

	> a ,
	> button,
	> .g-command,
	> form > button { margin: 2px;
			  height: 40px;
			  padding: 4px;
			  float: right;
			  display: flex;
			  flex: 0 1 auto;
			  color: inherit;
			  font-size: 12px;
			  cursor: pointer;
			  min-width: 120px;
			  font-weight: bold;
			  border-radius: 5px;
			  align-items: center;
			  justify-content: space-between;
			  
			  

			  border: 1px solid var(--g-coolbar-button-border-color);
			  background-color: var(--g-coolbar-button-background-color);
			  background-image: var(--g-coolbar-button-background-image);

			  &:hover {  border: 1px solid var(--g-coolbar-hovered-button-border-color);
				     background-color: var(--g-coolbar-hovered-button-background-color);
				     background-image: var(--g-coolbar-hovered-button-background-image);
			  }

			  &:focus { outline: none; border: 2px solid var(--hovered); }

			  > i,
			  > span { order: 1;
				   display: flex;
				   color: inherit;
				   cursor: inherit;
				   font-size: 12px;
				   margin-left: 4px;
				   align-items: center;
				   justify-content: center; }

			  &.Delete { color: var(--r) }

			  &.Commit { color: var(--g) }

			  &.Action { color: var(--b); }

			  &.Cancel { color: var(--r); }

			  &.Return { color: var(--r); }
	}
}

div.COOLBAR,
div.Coolbar { .margin();
	      width: 100%;
	      height: 48px;
	      padding: 4px;
	      display: block;
	      overflow: hidden;
	      border-radius: 5px;
	      color: var(--g-coolbar--color);
	      background-color: var(--g-coolbar-background-color);
	      background-image: var(--g-coolbar-background-image);

	      > * { margin: 2px;
		    height: 36px; }

	      > a ,
	      > .g-command,
	      > button { margin: 2px;
			 width: auto;
			 padding: 4px;
			 float: right;
			 display: flex;
			 color: inherit;
			 font-size: 10px;
			 cursor: pointer;
			 min-width: 90px;
			 font-weight: bold;
			 border-radius: 5px;
			 align-items: center;
			 border: 1px solid #CCCCCC;
			 justify-content: space-between;

			 border: 1px solid var(--g-coolbar-button-border-color);
			 background-color: var(--g-coolbar-button-background-color);
			 background-image: var(--g-coolbar-button-background-image);

			 &:hover { border: 1px solid var(--g-coolbar-hovered-button-border-color);
				   background-color: var(--g-coolbar-hovered-button-background-color);
				   background-image: var(--g-coolbar-hovered-button-background-image); }
			 &:focus { outline: none; border: 2px solid var(--hovered); }


			 &.Delete { color: var(--r) }

			 &.Commit { color: var(--g) }

			 &.Action { color: var(--b); }

			 &.Cancel { color: var(--r); float: left; }

			 &.Return { color: var(--r); float: left; }

			 > i,
			 > span { order: 1;
				  display: flex;
				  color: inherit;
				  cursor: inherit;
				  font-size: 12px;
				  margin-left: 4px;
				  align-items: center;
				  justify-content: center; }

			 &:only-child { float: right }
	      }

	      > progress { width: calc(100% - 4px) }

	      > label { float: left;
			padding: 4px;
			font-size: 16px;
			align-items: center;
			display: inline-flex;
			justify-content: flex-start;}

	      > hr { width: 12px;
		     float: right;
		     max-width: 12px;
		     display: inline-block;
		     border: 0px none transparent;
		     background-color: transparent }
}

div.COOLBAR[data-overflow],
div.Coolbar[data-overflow] {

	height: auto;

	> a, > button
	{
		> i { font-size: 16px;
		      margin-left: 0px; }
		width: 36px;
		padding: 0px;
		font-size: 0px;
		min-width: 0px;
		justify-content: center;

	}
}