g-tab-control
{
	display: none;
	margin-top: 16px;
	border-radius: 8px 8px 0 0;
	grid-template-rows: auto 1fr;
	background-color: var(--g-tab-control-background-color);
	border: 4px solid var(--g-tab-control-background-color);


	> div
	{
		display: none;
		padding : 10px;
		overflow: hidden;
		background-color: var(--g-tab-control-tab-background-color);
		background-image: var(--g-tab-control-tab-background-image);

		> iframe { margin: 0;
			   width : 100%;
			   border: none;
			   overflow: hiddden;
			   background-position: center;
			   background-repeat: no-repeat;
			   background-position-y: center;
			   background-image: var(--loading) }
	}

	&:first-child { margin-top: 0 }
	&[type=dummy] >  div  { display: block }

	> a,
	>button{ width: 50%;
		 border: none;
		 padding: 5px;
		 display: flex;
		 cursor: pointer;
		 font-size: 12px;
		 flex-basis: 50%;
		 align-items: center;
		 text-decoration: none;
		 border-radius: 8px 8px 0 0;
		 justify-content: space-between;
		 color: var(--g-tab-control-button-color);
		 background-color: var(--g-tab-control-button-background-color);
		 background-image: var(--g-tab-control-button-background-image);

		 > i,
		 > span {order: 1;
			 color: inherit; }

		 &:hover { color: var(--g-tab-control-hovered-button-color); }

		 &:focus { border: none;
			   outline: none }

		 &[data-selected=true] { color: inherit;
					 font-weight: bold;
					 background-color: var(--g-tab-control-tab-background-color);
					 background-image: var(--g-tab-control-tab-background-image);
		 }

		 > div { display: none }

		 @media only screen and (min-width: @tablet)
			 {
			 width: 25%;
			 flex-basis: 25%;
		 }

		 @media only screen and (min-width: @desktop)
			 {

			 width: 12.5%;
			 flex-basis: 12.5%;
		 }
	}


	&[size='10'] > :is(a, button),
		&[size='20'] > :is(a, button),
		&[size='30'] > :is(a, button),
		&[size='40'] > :is(a, button),
		&[size='50'] > :is(a, button),
		&[size='60'] > :is(a, button),
		&[size='70'] > :is(a, button),
		&[size='80'] > :is(a, button),
		&[size='90'] > :is(a, button),
		&[size='100'] > :is(a, button),
		{
		@media only screen and (min-width: @tablet)
			{
			width: 20%;
			flex-basis: 20%;
		}

		@media only screen and (min-width: @desktop)
			{

			width: 10%;
			flex-basis: 10%;
		}
	}
}


div.PageControl,
div.LinkControl {
	padding: 4px;
	margin-top: 16px;
	margin-bottom: 4px;
	border-radius: 8px 8px 0 0;
	background-color: var(--main-shaded10);
	&:first-child { margin-top: 4px }

	> ul { border: none;
	       margin: 0px;
	       padding: 0px;
	       display: flex;
	       flex-wrap: wrap;
	       list-style: none;
	       border-radius: 8px 8px 0 0;
	       justify-content: flex-start;

	       > li { width: 50%;
		      margin: 0px;
		      color: #432F21;
		      border-radius: 8px 8px 0 0;
		      border: 1px solid transparent;
		      border-bottom: 0px solid transparent;

		      &[data-selected=true] { border-color: var(--main-shaded05);
					      background-color: var(--main-shaded05);

					      > a,
					      > button { color: inherit;
							 font-weight: bold;
							 background-color: var(--main-shaded05); }
		      }

		      > a,
		      > button { width: 100%;
				 border: none;
				 padding: 5px;
				 display: flex;
				 color: inherit;
				 cursor: pointer;
				 font-size: 12px;
				 align-items: center;
				 text-decoration: none;
				 border-radius: 8px 8px 0 0;
				 justify-content: space-between;
				 background-color: var(--main-tinted50);

				 > i,
				 > span {order: 1;
					 color: inherit; }

				 &:hover { color: #CA171B;

					   > i,
					   > span { color: #432F21 }
				 }

				 &:focus { border: none;
					   outline: none }

				 &[data-icon] { text-align: left;
						&:after { width: 16px;
							  height: 100%;
							  font-family: gate;
							  text-align: center;
							  content: attr(data-icon); }
				 }
		      }

		      @media only screen and (min-width: @tablet)
			      {

			      width: 25%;

			      &:first-child:nth-last-child(5),
				      &:first-child:nth-last-child(5) ~ li,
				      &:first-child:nth-last-child(10),
				      &:first-child:nth-last-child(10) ~ li,
				      &:first-child:nth-last-child(15),
				      &:first-child:nth-last-child(15) ~ li,
				      &:first-child:nth-last-child(20),
				      &:first-child:nth-last-child(20) ~ li,
				      &:first-child:nth-last-child(25),
				      &:first-child:nth-last-child(25) ~ li,
				      &:first-child:nth-last-child(30),
				      &:first-child:nth-last-child(30) ~ li,
				      &:first-child:nth-last-child(35),
				      &:first-child:nth-last-child(35) ~ li,
				      &:first-child:nth-last-child(40),
				      &:first-child:nth-last-child(40) ~ li,
				      &:first-child:nth-last-child(45),
				      &:first-child:nth-last-child(45) ~ li,
				      &:first-child:nth-last-child(50),
				      &:first-child:nth-last-child(50) ~ li,
				      &:first-child:nth-last-child(55),
				      &:first-child:nth-last-child(55) ~ li,
				      &:first-child:nth-last-child(60),
				      &:first-child:nth-last-child(60) ~ li,
				      &:first-child:nth-last-child(65),
				      &:first-child:nth-last-child(65) ~ li,
				      &:first-child:nth-last-child(70),
				      &:first-child:nth-last-child(70) ~ li,
				      &:first-child:nth-last-child(75),
				      &:first-child:nth-last-child(75) ~ li,
				      &:first-child:nth-last-child(80),
				      &:first-child:nth-last-child(80) ~ li,
				      &:first-child:nth-last-child(85),
				      &:first-child:nth-last-child(85) ~ li,
				      &:first-child:nth-last-child(90),
				      &:first-child:nth-last-child(90) ~ li,
				      &:first-child:nth-last-child(95),
				      &:first-child:nth-last-child(95) ~ li,
				      &:first-child:nth-last-child(100),
				      &:first-child:nth-last-child(100) ~ li { width: 20%; }
		      }

		      @media only screen and (min-width: @desktop)
			      {

			      width: 12.5%;

			      &:first-child:nth-last-child(5),
				      &:first-child:nth-last-child(5) ~ li,
				      &:first-child:nth-last-child(9),
				      &:first-child:nth-last-child(9) ~ li,
				      &:first-child:nth-last-child(10),
				      &:first-child:nth-last-child(10) ~ li,
				      &:first-child:nth-last-child(15),
				      &:first-child:nth-last-child(15) ~ li,
				      &:first-child:nth-last-child(20),
				      &:first-child:nth-last-child(20) ~ li,
				      &:first-child:nth-last-child(25),
				      &:first-child:nth-last-child(25) ~ li,
				      &:first-child:nth-last-child(30),
				      &:first-child:nth-last-child(30) ~ li,
				      &:first-child:nth-last-child(35),
				      &:first-child:nth-last-child(35) ~ li,
				      &:first-child:nth-last-child(40),
				      &:first-child:nth-last-child(40) ~ li,
				      &:first-child:nth-last-child(45),
				      &:first-child:nth-last-child(45) ~ li,
				      &:first-child:nth-last-child(50),
				      &:first-child:nth-last-child(50) ~ li,
				      &:first-child:nth-last-child(55),
				      &:first-child:nth-last-child(55) ~ li,
				      &:first-child:nth-last-child(60),
				      &:first-child:nth-last-child(60) ~ li,
				      &:first-child:nth-last-child(65),
				      &:first-child:nth-last-child(65) ~ li,
				      &:first-child:nth-last-child(70),
				      &:first-child:nth-last-child(70) ~ li,
				      &:first-child:nth-last-child(75),
				      &:first-child:nth-last-child(75) ~ li,
				      &:first-child:nth-last-child(80),
				      &:first-child:nth-last-child(80) ~ li,
				      &:first-child:nth-last-child(85),
				      &:first-child:nth-last-child(85) ~ li,
				      &:first-child:nth-last-child(90),
				      &:first-child:nth-last-child(90) ~ li,
				      &:first-child:nth-last-child(95),
				      &:first-child:nth-last-child(95) ~ li,
				      &:first-child:nth-last-child(100),
				      &:first-child:nth-last-child(100) ~ li { width: 10%; }
		      }
	       }
	}

	> div { clear: both;
		padding: 10px;
		border-color: var(--main-shaded05);
		background-color: var(--main-shaded05);
		border-radius: 0px 0px 0px 0px;


		> iframe { margin: 0;
			   width: 100%;
			   overflow:  hidden;
			   background-position: center;
			   background-repeat: no-repeat;
			   background-position-y: center;
			   background-image: var(--loading);}
	}
}


div.PageControl {
	> div { display: none }
	> ul > li > div { display: none }
}