@import "Skin.less";


iframe { border: none; margin: 0; padding: 0; background-color: transparent; background-image: none }

.G { color: var(--g) }
.R { color: var(--r) }
.Y { color: var(--y) }
.B { color: var(--b) }


form { margin: 0;
       padding: 0;
       border: none;}

.margin
{
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	&:first-child { margin-top: 0px; };
	&:last-child { margin-bottom: 0px; };
	&:only-child { margin-bottom: 0px;
		       margin-bottom: 0px};
}

*[disabled],
*[data-disabled] { opacity: 0.5;
		   pointer-events: none; }

* { font-size: 12px;
    box-shadow: none;
    -moz-box-shadow: none;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Arial, Tahoma, Geneva, sans-serif; }


body.Panel { background-color: var(--main); background-image: none; }
body.Page { background-color: var(--main-shaded05); background-image: none;}

span.PAGINATOR a { color: black; font-weight: bold }

p  { text-align: justify }
p:first-of-type { text-indent: 40px }
h5 { font-size: 14px; text-align: center }
h4 { font-size: 16px; text-align: center }
h3 { font-size: 18px; text-align: center }
h2 { font-size: 20px; text-align: center }
h1 { font-size: 22px; text-align: center }

img { border-style: none; position: relative; vertical-align: middle; margin-left: 2px; margin-right: 2px}

td > label, th > label { width: 100%; display: inline-block}
td > label > i, td > label > span, th > label > i, th > label > span { position: absolute; right: 2px; color: gray; font-size: 10px}

ul.LIST { width: 100%; list-style-type: none; margin: auto; padding: 0px; display: inline-block}
ul.LIST > li { float: left; width: 10%; height: 32px; background-color: white; padding: 3px; margin: 0.5%; font-size: 24px;
	       border-radius: 5px; cursor: pointer; display: flex; align-items: center; justify-content: space-between}
ul.LIST > li > i { font-size: 24px}
ul.LIST > li:focus { background-color: #FFFACD; font-weight: bold; color: var(--g) }

input[type='text'],
input[type='password'],
input[type='file'],
textarea,
select { width: 100%;
	 background-color: white;
	 border: 1px solid #CCCCCC;
	 &:hover { outline: none; border-color: var(--hovered) }
	 &:focus { outline: none; background-color: var(--hovered) }
}

input[type='file'] { cursor: pointer }
input:invalid, select:invalid, textarea:invalid { box-shadow: inset 0 0 1px 1px fade(red, 60%); }

textarea { resize: none; padding: 4px; margin: 0px }

label[data-icon], span[data-icon]
{
	margin: 4px;
	height: 32px;
	cursor: inherit;
	font-size: 16px;
	overflow: hidden;
	text-align: left;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	width: calc(100% - 8px);
	background-color: #8899AA;
}

fieldset > label > span > label[data-icon]
{
	margin: 0;
	width: 100%;
	height: 100%;
}

label[data-icon]::before, span[data-icon]::before
{
	width: 32px;
	height: 100%;
	color: inherit;
	margin-right: 8px;
	font-family: gate;
	font-size: inherit;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	content: attr(data-icon);
	border-right: 1px solid #DDDDDD;
}

i[data-text], a[data-text]
{
	display: flex;
	font-family: gate;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

i[data-text]::after, a[data-text]::after
{
	display: block;
	font-size: 40%;
	font-family: gate;
	text-align: center;
	content: attr(data-text);
}

li[data-icon]::before
{
	float: left;
	display: flex;
	color: inherit;
	margin-right: 8px;
	font-family: gate;
	align-items: center;
	font-weight: inherit;
	justify-content: center;
	content: attr(data-icon);
}

li[data-text]::after
{
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;
	content: attr(data-text);
}

tr[data-canceled='true'] > td { color: #CCCCCC }

datalist { display: none }

*[data-visibility] { display: none }

@media only screen and (min-width: @phone) { *[data-visibility='Phone'] { display: block } }
@media only screen and (min-width: @tablet) { *[data-visibility='Tablet'] { display: block } }
@media only screen and (min-width: @notebook) { *[data-visibility='Notebook'] { display: block } }
@media only screen and (min-width: @desktop) { *[data-visibility='Desktop'] { display: block } }
@media only screen and (min-width: @widescreen) { *[data-visibility='Widescreen'] { display: block } }

@import "../polyfill/dialog-polyfill.less";

@import "g-window-list/g-window-list.less";

@import "g-modal/g-modal.less";
@import "g-window/g-window.less";

@import "desk-menu/desk-menu.less";
@import "desk-pane/desk-pane.less";

@import "Icon.less";
@import "Nav.less";

@import "Fieldset.less";
@import "Div.less";
@import "Table.less";

@import "link/link.less";
@import "button/button.less";

@import "g-overflow/g-overflow.less";
@import "g-dialog-caption/g-dialog-caption.less";
@import "g-dialog-commands/g-dialog-commands.less";
@import "g-tabbar/g-tabbar.less";
@import "g-coolbar/g-coolbar.less";

@import "g-navbar/g-navbar.less";

@import "g-dialog/g-dialog.less";
@import "g-stack-frame/g-stack-frame.less";
@import "g-message/g-message.less";

@import "g-slider/g-slider.less";
@import "g-calendar/g-calendar.less";

@import "selector/IconSelector.less";
@import "selector/ReportSelector.less";
@import "selector/DateSelector.less";
@import "selector/TimeSelector.less";
@import "selector/MonthSelector.less";
@import "selector/DateTimeSelector.less";
@import "selector/DateIntervalSelector.less";
@import "selector/TimeIntervalSelector.less";
@import "selector/MonthIntervalSelector.less";
@import "selector/DateTimeIntervalSelector.less";
@import "selector/ActionSelector.less";

@import "picker/Picker.less";
@import "picker/IconPicker.less";
@import "picker/DatePicker.less";
@import "picker/TimePicker.less";
@import "picker/MonthPicker.less";
@import "picker/DateTimePicker.less";
@import "picker/DateIntervalPicker.less";
@import "picker/TimeIntervalPicker.less";
@import "picker/MonthIntervalPicker.less";
@import "picker/DateTimeIntervalPicker.less";
@import "picker/ActionPicker.less";

@import "g-block/g-block.less";

@import "treeview/treeview.less";

@import "HMenu.less";


@import "g-chart-dialog/g-chart-dialog.less";

@import "sortable/sortable.less";

@import "g-path/g-path.less";

@import "g-popup/g-popup.less";

@import "Layout.less";
@import "mask/mask.less";

@import "Minibar.less";

@import "g-progress-status/g-progress-status.less";
@import "g-progress-window/g-progress-window.less";
@import "g-progress-dialog/g-progress-dialog.less";

@import "g-download-status/g-download-status.less";

@import "g-report-dialog/g-report-dialog.less";

@import "unordered-list/unordered-list.less";
@import "definition-list/definition-list.less";

@import "g-tooltip/g-tooltip.less";
@import "g-context-menu/g-context-menu.less";

@import "g-side-menu/g-side-menu.less";

@import "g-scroll-tabbar/g-scroll-tabbar.less";

@import "figure.less";

@import "g-tab-control/g-tab-control.less";

@import "g-grid/g-grid.less";

@import "table-filter/table-filter.less";

@import "g-text-editor/g-text-editor.less";

@import "g-select/g-select.less";

@import "g-event-source/g-event-source.less";

body[data-scroll-disabled] * { overflow: hidden }


big { font-size: 1.2em }
small { font-size: 0.8em }